﻿body h1 {
    background-color: aqua
}

body .top-bar {
    background-color: yellow
}

    body .top-bar .main-bar {
        width: 90%;
        background-color: white;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        border: 1px solid red;
    }

        body .top-bar .main-bar .contact-left {
            flex-grow: 3;
            background-color: red;
            display: flex;
            justify-content: center;
            gap: 20px;
            border: 1px solid red;
        }

        body .top-bar .main-bar .login-right {
            flex-grow: 2;
            background-color: brown;
            display: flex;
            justify-content: space-around;
            border: 1px solid red;
        }

        body .top2-bar {
            width: 91%;
            background-color: white;
            margin: auto;
            display: flex;
            flex-wrap: nowrap;
            font-size: 0px;
            border: 2px solid red;
        }

 
   
